<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <% if (!user) { %>
  <a href="/auth/google" class="siwg-link">
    <button type="submit" class="siwg">
      <img id="siwg-image" alt="Sign in with Google" />
    </button>
    <% } %>
  </a>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
