<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <% if (!user) { %>
  <a href="/auth/google" class="siwg-link">
    <button type="submit" class="siwg">
      <img id="siwg-image" alt="Sign in with Google" />
    </button>
    <% } %>
  </a>
  <% if (user) { %>
  <section class="section-1">
    <% if (user?.profile.avatar) { %>
      <div>
        <img 
          src="<%= user.profile.avatar %>" 
          alt="<%= user.profile.name %> avatar"
        >
        <form action="" method="POST" class="post-form">
          <input type="text" name="content">
          <button type="submit">New Post</button>
        </form>
      </div>
    <% } %> 
  </section>
  <section class="section-2">

  </section>
</main>
<% } %>
<%- include('./partials/footer') %>
<form
        action=""
        method=""
        class=""
        >
        <input
          type="text"
          name="text"/>
        <button type="submit" class="btn">
          Add Fact
        </button>
      </form>