<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main class="main-index">
  <% if (!user) { %>
  <a href="/auth/google" class="siwg-link">
    <button type="submit" class="siwg">
      <img id="siwg-image" alt="Sign in with Google" />
    </button>
    <% } %>
  </a>
  <% if (user) { %>
  <section class="section-home">
    <% if (user?.profile) { %>
      <div class="profile">
        <p><%= user.profile.name %></p>
        <img 
          src="<%= user.profile.avatar %>" 
          alt="<%= user.profile.name %> avatar"
        >
      </div>
    <% } %> 
      </div>
  </section>
  </section>
</main>
<form
<% } %>
<%- include('./partials/footer') %>
