<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <main class="index">
      <section class="index-section-1">
        <% posts.forEach(post=> { %>
          <li class="index-li">
            <div class="post-box">
              <% if (user?.profile.avatar) { %>
                <img src="<%= user.profile.avatar %>" alt="<%= user.profile.name %> avatar" class="profile-image">
                <p class="author">
                  <%= user.profile.name %>
                </p>
                <% } %>
                  <p class="post-content">
                    <%= post.content %>
                  </p>
                  <a href="/posts/<%= post._id %>" class="post-id">...</a>
                  <% if (user) { %>
                    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST" class="del-form">
                      <button type="submit">X
                      </button>
                    </form>
                    <% } %>
            </div>
          </li>
          <% }) %>
      </section>
    </main>
    <%- include('../partials/footer') %>